		.red {
			background-color: red;
		}
		.green {
			background-color: green;
		}
		.blue {
			background-color: blue;
		}
		.black {
			background-color: black;
		}
		.grey{
			background-color: grey
		}
		.header{
			height: 64px;
			color: white;
			background-color: grey
		}
		.spaceAround {
			margin: 5px;
		}